@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

body{
    background: #adadad;
}

.order-table-header{
	text-align:center;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
    margin: 20px;
}

.cuentas {
    padding: 0.75rem;
    background-color: rgb(206, 206, 206);
    width: 100%;
    border-radius: 25px;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;
}
