@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

body{
    background-color: rgb(206, 206, 206);
}

.order-table-header{
	text-align:center;
	border-bottom:1px solid #BBBBBB;
	padding: 1 rem;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: center;
}

.cuentas {
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre;
    margin: 1rem;
    padding: 0.75rem;
    width: 0 auto;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;
}
