@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

:root{
    --rojo:rgb(179, 0, 39);
    --naranja: #fb7e29;
    --degradado: linear-gradient(90deg, var(--rojo), var(--naranja));
}

*{
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--naranja);
    color: rgb(255, 255, 255);
}


html {
    overflow: hidden;
    font-size: 62.4%;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

body{
    background: #adadad;
}

/*CABECERA CON LOGO Y SECCIONES*/
header{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #363232;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*LOGO*/
header .logo{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 5rem;
    color: var(--naranja);
}

header .logo span{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    color: var(--rojo);
}
/*---------------------------*/

/*SECCIONES CABECERA*/
header .navbar a{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--naranja);
}

header .navbar a:hover{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    color: var(--naranja);
}

header input{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    display: none;
}

header label{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 3rem;
    color: var(--rojo);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.inicio{
    display: flex;
    align-items: center;
    justify-content:first baseline;
    background: url(/home/alumno/Desktop/index/inicio_fondo.png);
    background-size: cover;
    background-position: center;
}

p {
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
}

.tabla {
    text-align: center;
    grid-row: auto;
}

.cuentas p{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;
}

.order-table-header{
	text-align:center;
	border-bottom:1px solid #BBBBBB;
	padding: 1rem;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: center;
}

.cuentas {
    margin: 0.75rem;
    padding: 0.75rem;
    background-color: rgb(206, 206, 206);
    width: 125%;
    border-radius: 25px;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
}

.entrada{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    display: inline-block;
    font-size: large;
    border-radius: 5rem;
    border: 0;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}

.titulo {
    color: #333;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: large;
    padding: 10px
}

.mensajes {
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    color: rgb(175, 0, 0);
    font-size: small;
    text-align: center;
    padding: 0px;
    margin: 10px;
}

button{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    border: 0px;
    display: inline-block;
    margin: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

.button{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    border: 0px;
    display: inline-block;
    margin: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

.info-campo {
    font-size: medium;
}



/*ADAPTACIONES EN FUNCION DEL TAMAÑO DEL DISPOSITIVO*/
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, rgba(0, 0, 0, .1));
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 50%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }

    .inicio .content p{
        font-size: 2rem;
        padding-bottom: 20px;
    }
}

@media(max-width:450px){
    hmtl{
        font-size: 49%;
    }
}