@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

:root{
    --rojo:rgb(179, 0, 39);
    --naranja: #fb7e29;
    --degradado: linear-gradient(90deg, var(--rojo), var(--naranja));
}

html {
    overflow: hidden;
    font-size: 62.4%;
}

.inicio{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
    justify-self: center;
}

.window {
    display: block;
    background: #adadad;
    position: absolute; /*relative*/
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*overflow: hidden;*/
    /*background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgba(124,124,124,1) 50%, rgba(255,81,0,1) 100%);*/
}

/*CABECERA CON LOGO Y SECCIONES*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #363232;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*LOGO*/
header .logo{
    font-size: 5rem;
    color: var(--naranja);
}

header .logo span{
    color: var(--rojo);
}
/*---------------------------*/

/*SECCIONES CABECERA*/
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--naranja);
}

header .navbar a:hover{
    color: var(--naranja);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--rojo);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

p {
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
}

.cuentas {
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: large;
    color: #333;
    text-transform: uppercase;
}

.entrada{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: large;
    border-radius: 5rem;
    border: 0;
    width: 200px;
    height: 30px;
    padding: 0 auto;
    offset: 3;
    padding-left: 10px;
}

.titulo {
    color: rgb(255, 255, 255);
    padding: 1%;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: large;
}

.mensajes {
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    color: rgb(175, 0, 0);
    font-size: small;
    text-align: center;
    padding: 0px;
    margin: 10px;
}

button{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    border: 0px;
    display: inline-block;
    margin: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

.button{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    border: 0px;
    display: inline-block;
    margin: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

.info-campo {
    font-size: medium;
}



/*ADAPTACIONES EN FUNCION DEL TAMAÑO DEL DISPOSITIVO*/
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, rgba(0, 0, 0, .1));
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 50%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }

    .inicio .content p{
        font-size: 2rem;
        padding-bottom: 20px;
    }
}

@media(max-width:450px){
    hmtl{
        font-size: 49%;
    }
}