@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

html{
    overflow: hidden;
}

.registro-window {
    top: -10px;
    left: -10px;
    position: absolute;
    width: 110%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
    /*background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(255, 129, 129) 100%);*/
}

.backg-container {
    position: absolute;
    top: -15px;
    left: -15px;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.725) 0%, rgba(114, 114, 114, 0.226) 100%);
    width: 103%;
    height: 103vh;
}

.img-container img{
    position: absolute;
    display: block;
    bottom: -90px;
    left: 0;
    z-index: 1;
    width:450px;
}

.inside-context {
    position: absolute;
    z-index: 1;
    background: linear-gradient(45deg, rgb(66, 66, 66) 0%, rgb(137, 137, 137) 100%);
    width: 1000px;
    height: 325px;
    text-align: center;
    border-radius: 25px;
    padding: 1%;
    border: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.794);
}

.inside-context p, link {
    color: #ffffff;
    padding: 1%;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: large;
    text-align: center;
}

.titulo {
    color: rgb(255, 255, 255);

    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: xx-large;
}

.entrada{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: xx-large;
    border-radius: 5rem;
    border: 0;
    width: 250px;
    height: 30px;
    padding: 0 auto;
    offset: 3;
    padding-left: 10px;
    padding-top: 20px;
    margin: 8px;
}

.jajant {
    margin: 0 auto;
}

.mensajes{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    color: rgb(175, 0, 0);
    font-size: larger;
    text-align: center;
    padding: 0px;
    margin: 25px;
}

.boton{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: x-large;
    border-radius: 5rem;
    border: 0;
    width: 140px;
    height: 30px;
}


