@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

.registro-window {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
    /*background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(255, 129, 129) 100%);*/
}

.backg-container {
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.725) 0%, rgba(114, 114, 114, 0.226) 100%);
    width: 100%;
    height: 100vh;
}

.img-container img{
    position: absolute;
    display: block;
    bottom: -180px;
    left: 0;
    z-index: 1;
    width:450px;
}

.inside-context {
    position: absolute;
    z-index: 1;
    background: rgb(73, 73, 73); 
    background: linear-gradient(45deg, rgb(66, 66, 66) 0%, rgb(137, 137, 137) 100%);
    width: 800px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1%;
    border: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.794);
}

.inside-context p, link {
    color: white;
    padding: 1%;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: large;
    text-align: center;
}

.titulo {
    color: rgb(255, 255, 255);
    padding: 1%;
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: xx-large;
}

.entrada{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: xx-large;
    border-radius: 5rem;
    border: 0;
    width: 250px;
    height: 30px;
    padding: 0 auto;
    offset: 3;
    padding-left: 10px;
}

.mensajes{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    color: rgb(175, 0, 0);
    font-size: larger;
    text-align: center;
    padding: 0px;
    margin: 25px;
}

.boton{
    font-family: 'Rajdhani', sans-serif, Arial, Helvetica;
    font-size: x-large;
    border-radius: 5rem;
    border: 0;
    width: 140px;
    height: 30px;
}




